.titulo{
    background-color: aliceblue;
}
.table1{
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}
th{
    background-color: blueviolet;
    color: white;
}
td{
    text-align: center;
}